<link href="{{ '/images/favicon/apple-touch-icon-57x57.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="57x57" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-114x114.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="114x114" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-72x72.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="72x72" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-144x144.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="144x144" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-60x60.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="60x60" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-120x120.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="120x120" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-76x76.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="76x76" type="image/png"/>
<link href="{{ '/images/favicon/apple-touch-icon-152x152.png' | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="152x152" type="image/png"/>
<link href="{{ '/images/favicon/favicon-196x196.png' | prepend: site.baseurl }}" rel="icon" sizes="196x196" type="image/png"/>
<link href="{{ '/images/favicon/favicon-160x160.png' | prepend: site.baseurl }}" rel="icon" sizes="160x160" type="image/png"/>
<link href="{{ '/images/favicon/favicon-96x96.png' | prepend: site.baseurl }}" rel="icon" sizes="96x96" type="image/png"/>
<link href="{{ '/images/favicon/favicon-16x16.png' | prepend: site.baseurl }}" rel="icon" sizes="16x16" type="image/png"/>
<link href="{{ '/images/favicon/favicon-32x32.png' | prepend: site.baseurl }}" rel="icon" sizes="32x32" type="image/png"/>
<meta content="#00aba9" name="msapplication-TileColor"><meta content="{{ '/images/favicon/mstile-144x144.png' | prepend: site.baseurl }}" name="msapplication-TileImage">