<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="on" http-equiv="cleartype">
<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.info.title }}</title>
<meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.info.title }}{% endif %}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<!--[if lt IE 9]><script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script><![endif]-->
{% if site.info.google_font %}
<link href="https://fonts.googleapis.com/css?family={{ site.info.google_font }}" rel="stylesheet" type="text/css">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/normalize.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/css/app.css' | prepend: site.baseurl }}">
{% include _scripts.html %}
{% include _favicon.html %}
<link rel="alternate" type="application/atom+xml" title="{{ site.info.title }}" href="/atom.xml" />
{% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.info.gplus }}">{% endif %} 
{% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.info.title }}{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
{% if page.cover_image %}
<meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
{% endif %}
<meta property="og:site_name" content="{{ site.info.title }}">
{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt }}"/>
<meta name="description" content="{{ page.excerpt }}"/>
{% else %}
{% assign locale = site.locales[page.categories.first] %}
<meta name="description" content="{{ locale.meta_description }}"/>
{% endif %}
<script src="//load.sumome.com/" data-sumo-site-id="bd26727981cb034eb2c1d777fe56f5c674e543a734170dd48bdf5a527f0ad789" async="async"></script>