<!-- Begin Dinamize signup -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;width:350px;}
  #mc_embed_signup_scroll{display:inline;}
  #mc_embed_signup input.button{display:inline;}
  #mc_embed_signup input.email{display:inline;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;font-size:16px;}
  #mc_embed_signup .button{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#29cb63;color:#ffffff;}
  #mc_embed_signup .button:hover{background-color:#28B35A;}
  #mce-EMAIL {display: inline;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;font-size: 14px;padding: 7px 0;margin: 0 4% 10px 0;text-indent: 5px;width: 58%;min-width: 130px;}
</style>
<br />
<div id="mc_embed_signup">
  <form method="post" name="formIntegration" id="mc-embedded-subscribe-form" action="https://receiver.emkt.dinamize.com/in/302595/1/3710">
    <div id="mc_embed_signup_scroll">
    
    <input type="hidden" name="update_mode" value="NA">
    <input type="hidden" name="redirect-url" value="http://blog.konduto.com?em=1">
    <input type="hidden" name="cmp4" value="blog">
    <input type="hidden" name="text-error" value="">    

    <input id="mce-EMAIL" name="cmp1" class="type_EMAIL field-required" type="email" value="" maxlength="80" placeholder="você@exemplo.com.br" required />
    
    <div class="clear"><input type="submit" class="button" name="subscribe" id="mc-embedded-subscribe" value="Assinar!"/></div>
    </div>
  </form>
</div>
<!-- End Dinamize signup -->